name: cubid_flutter_example
description: "Demonstrates how to use the cubid_flutter plugin."
publish_to: 'none' 

environment:
  sdk: ^3.9.2


dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.8
  #Adadpter to your mediation Needs
  adforus_uad_adapter: ^2.0.1
  adforus_upan_adapter: ^1.0.0
  adforus_cubex_adapter: ^1.0.0
  #The Main Plugin
  cubid_flutter: ^1.0.0


dev_dependencies:
  integration_test:
    sdk: flutter
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0


flutter:
  uses-material-design: true